@import './variables/variables.css';
@import './elements/classes.css';
@import './utils.css';
@import './shared.css';
@import "@fortawesome/fontawesome-free/css/all.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  &::-webkit-scrollbar-track {
    background-color: transparent;
    pointer-events: initial;
    overflow: hidden;
  }
  &::-webkit-scrollbar {
    width: var(--scrollbar-width);
    height: var(--scrollbar-width);
    background: transparent;
    pointer-events: initial;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--accent);
    pointer-events: initial;
    border-radius: 10px;
  }
}

html {
  color-scheme: dark;
  scroll-behavior: smooth;
  scroll-padding-top: var(--body-top-padding);
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--body-bg);
  color: var(--body-color);
  font-family: var(--inter), var(--roboto), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-block-start: var(--body-top-padding);
  scrollbar-gutter: auto;

  &::before {
    content: "";
    position: fixed;
    inset: 0;
    opacity: 0.15;
    background: transparent url(/images/noise-pattern.png) repeat;
    background-attachment: fixed;
    background-blend-mode: luminosity;
    z-index: -1;
  }
}


a {
  color: inherit;
  text-decoration: none;
}

*:focus-visible {
  background-color: var(--outline-bg);
  color: var(--outline-text-color);
  border-color: var(--outline-border-color);
  outline-width: var(--outline-width);
  outline-style: var(--outline-style);
  outline-color: var(--outline-color);
  outline-offset: var(--outline-offset);
  border-radius: var(--outline-radius);
}


