.pattern {
  position: absolute;
  width: 100%;
  height: var(--square-pattern-height);
  inset: 0;
  z-index: -1;

  &::before,
  &::after {
    content: '';
    position: absolute;
    inset: 0;
  }

  &::before {
    background-image: url('/images/square-pattern.svg');
    background-repeat: repeat;
    opacity: var(--square-pattern-opacity);
  }

  &::after {
    background-image: var(--square-gradient\-bg);
  }
}

.button {
  border-radius: var(--border-radius);
  background-color: var(--button-bg);
  color: var(--button-color);
  height: var(--button-height);
  border: var(--button-border-width) var(--button-border-style) var(--button-border-color);
  font-weight: var(--button-font-weight);
  font-size: var(--button-font-size);
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  padding-inline-start: var(--button-padding-x-start);
  padding-inline-end: var(--button-padding-x-end);

  .icon {
    width: var(--button-height);
    height: var(--button-height);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--button-icon-font-size);
  }

  &[data-icon="start"] {
    --button-padding-x-start: 0;
  }

  &[data-icon="end"] {
    --button-padding-x-end: 0;
  }

  &[data-icon="both-sides"] {
    --button-padding-x-start: 0;
    --button-padding-x-end: 0;
    gap: var(--button-gap);
  }

  &:hover {
    background-color: var(--button-hover-bg);
    color: var(--button-hover-color);
    outline-color: var(--button-hover-border-color);

    &:focus-visible,
    &:focus {
      --outline-bg: var(--button-hover-bg);
      --outline-color: var(--button-hover-color);
      --outline-text-color: var(--button-hover-border-color);
    }
  }

  &:is(:active, &:focus-visible, &:focus):not(:disabled, :hover) {
    --outline-bg: #3f3f80;
    --outline-color: var(--button-hover-border-color);
    --outline-text-color: var(--button-hover-color);
    background-color: var(--outline-bg);
  }

  &:is(.button--whatsapp) {
    --button-height: 52px;
    --button-icon-font-size: 1.5rem;
    --button-bg: hsla(var(--whatsapp-bg-hsl), 0.15);
    --button-color: var(--whatsapp-color);
    --button-hover-bg: var(--whatsapp-hover-bg);
    --button-hover-color: var(--whatsapp-hover-color);
    
    &:is(:active, .button:focus-visible, .button:focus) {
      --outline-bg: var(--whatsapp-hover-color);
      --outline-color: var(--whatsapp-color);
      --outline-text-color: var(--whatsapp-hover-color);
    }
  }
  
  &:is(.button--register, .button-register) {
    --button-icon-font-size: 1.5rem;
    --button-height: 52px;
    --button-bg: hsla(var(--accent-hsl), 0.08);
    --button-color: var(--accent);
    --button-hover-bg: var(--accent);
    --button-hover-color: var(--light);

    &:is(:active, .button:focus-visible, .button:focus) {
      --outline-bg: var(--accent);
      --outline-color: var(--accent);
      --outline-text-color: var(--light);
      color: var(--outline-text-color);
    }
  }

  &:is(.button--accent, .button-accent) {
    --button-bg: hsla(var(--accent-hsl), 1);
    --button-color: var(--light);
    --button-hover-bg: var(--light);
    --button-hover-color: var(--accent);

    &:is(:active, .button:focus-visible, .button:focus) {
      --outline-bg: var(--accent);
      --outline-color: var(--accent);
      --outline-text-color: var(--light);
      color: var(--outline-text-color);
    }

    &:is(:active, .button:focus-visible, .button:focus):hover {
      --outline-text-color: var(--accent);
      color: var(--outline-text-color);
    }
  }
  &:is(.button--primary, .button-primary) {
    --button-bg: #6E6BD1;
    --button-color: var(--light);
    --button-hover-bg: var(--light);
    --button-hover-color: #6E6BD1;

    &:is(:active, .button:focus-visible, .button:focus) {
      --outline-bg: #6E6BD1;
      --outline-color: #6E6BD1;
      --outline-text-color: var(--light);
      color: var(--outline-text-color);
    }

    &:is(:active, .button:focus-visible, .button:focus):hover {
      --outline-text-color: var(--accent);
      color: var(--outline-text-color);
    }
  }
  &:is(.button--light, .button-light) {
    --button-bg: hsla(var(--light-hsl), 1);
    --button-color: var(--dark);
    --button-hover-bg: var(--light);
    --button-hover-color: var(--light);

    &:is(:active, .button:focus-visible, .button:focus) {
      --outline-bg: var(--light);
      --outline-color: var(--light);
      --outline-text-color: var(--light);
      color: var(--outline-text-color);
    }

    &:is(:active, .button:focus-visible, .button:focus):hover {
      --outline-text-color: var(--accent);
      color: var(--outline-text-color);
    }
  }
  &:is(.button--success, .button--green, .button-success, .button-green) {
    --button-height: 52px;
    --button-bg: hsla(var(--green-hsl), 1);
    --button-color: var(--light);
    --button-hover-bg: var(--light);
    --button-hover-color: var(--green);

    &:is(:active, .button:focus-visible, .button:focus) {
      --outline-bg: var(--green);
      --outline-color: var(--green);
      --outline-text-color: var(--light);
      color: var(--outline-text-color);
    }

    &:is(:active, .button:focus-visible, .button:focus):hover {
      --outline-text-color: var(--green);
      color: var(--outline-text-color);
    }
  }
  &:is(.button--failed, .button--danger, .button--rejected, .button-failed, .button-danger, .button-rejected) {
    --button-bg: hsla(var(--red-hsl), 1);
    --button-color: var(--light);
    --button-hover-bg: var(--light);
    --button-hover-color: var(--red);

    &:is(:active, .button:focus-visible, .button:focus) {
      --outline-bg: var(--red);
      --outline-color: var(--red);
      --outline-text-color: var(--light);
      color: var(--outline-text-color);
    }

    &:is(:active, .button:focus-visible, .button:focus):hover {
      --outline-text-color: var(--red);
      color: var(--outline-text-color);
    }
  }
}

.strip-start,
.strip-end {
  position: absolute;
  width: 50%;
  inset-inline-start: 25%;
  height: 1px;
  opacity: 0.5;
  background-image: linear-gradient(90deg, hsla(var(--strip-bg, var(--light-hsl)), 0) 0%, hsla(var(--strip-bg, var(--light-hsl)), 1) 50%, hsla(var(--strip-bg, var(--light-hsl)), 0) 100%);
  @media (width < 768px) {
    width: 90vw;
    inset-inline-start: 5vw;
  }
}

.strip-start {
  inset-block-start: 0;
}

.strip-end {
  inset-block-end: 0;
}

.footer-cta-section {
  position: relative;
  padding-inline: 2vw;
  padding-block: calc(2rem + 3vw);
  isolation: isolate;
  @media (width < 768px) {
    padding-inline: 0;
  }

  .footer-cta-wrapper {
    position: relative;
    width: 100%;
    max-width: var(--wrapper-width);
    margin-inline: auto;
    margin-block-end: 10rem;
    @media (width < 768px) {
      margin-block-end: 3rem;
    }
    .section-header {
      position: relative;
      text-align: center;
      margin-block-end: calc(10rem + 1vw);
      @media (width < 768px) {
        margin-block-end: calc(var(--mobile-aside-gutter) * 2);
      }
    }

    .logo-block {
      position: relative;
      width: calc(500px + 1vw);
      margin-inline: auto;
      padding: 1.25rem;
      border-radius: calc(var(--border-radius) * 1.5);
      margin-block-end: calc(2rem + 1vw);
      background-color: #6E6BD1;
      background-image: linear-gradient(to right, #6E6BD1 50%, #111146 90%);

      svg {
        height: 80px;
      }

      @media (width < 768px) {
        width: 85vw;
        aspect-ratio: 2 / 1.6;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        background-image: linear-gradient(to bottom, #dc8d5e, #8282ff);
        border-radius: calc(var(--border-radius) * 2);
      }

      img,
      svg {
        width: auto;
        position: relative !important;
        object-fit: contain;
      }

      .avatar {
        position: absolute;
        width: 250px;
        height: 330px;
        inset-block-start: calc(50% - 180px);
        inset-inline-start: calc(100% - 150px);
        @media (width < 768px) {
          width: 200px;
          height: 280px;
          inset-block-start: calc(100% - 150px);
          inset-inline-start: calc(100% - 75%);
        }
      }
    }

    .cta-button {
      position: relative;
      margin-inline: auto;
      margin-block-start: calc(5rem + 3vw);
      max-width: max-content;
      @media (width < 768px) {
        margin-block-start: calc(7.5rem + 10vw);
      }

      .strip-start {
        --strip-width: 800px;
        width: var(--strip-width);
        inset-inline-start: calc(50% - calc(var(--strip-width) / 2));
        inset-block-start: 200%;
        @media (width < 768px) {
          --strip-width: 90vw;
          inset-block-start: calc(100% + calc(var(--mobile-aside-gutter) * 1.25));
        }
      }
    }
  }

  .footer-bg {
    position: absolute;
    inset: 0;
    background-color: var(--body-bg);
    background-image: url('/images/footer-bg.png');
    background-position: center bottom;
    background-attachment: fixed;
    background-size: 100%;
    z-index: -1;

    &::after {
      content: '';
      position: absolute;
      inset: -5rem 0 0 0;
      background-image: linear-gradient(to top, hsla(var(--body-bg-hsl), 0) 0%, hsla(var(--body-bg-hsl), 0.85) 75%, hsla(var(--body-bg-hsl), 1) 100%);
    }
  }
}

.footer-copy-write {
  position: relative;

  .footer-copy-write-wrapper {
    position: relative;
    margin-inline: auto;
    max-width: calc(var(--wrapper-width) - 10rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (width < 768px) {
      flex-wrap: wrap;
      justify-content: center;
      gap: calc(var(--mobile-aside-gutter) * 1);
    }
    .end-block {
      position: relative;
      display: flex;
      align-items: center;
      gap: 1rem;

      .social-list {
        --list-size: 40px;
        position: relative;
        display: flex;
        list-style: none;
        border-radius: calc(var(--border-radius) / 1.5);
        background-color: hsla(var(--light-hsl), 0.1);
        backdrop-filter: blur(5px);

        &:not(:focus-within) {
          overflow: clip;
        }

        .social-list-item {
          a {
            display: grid;
            place-items: center;
            width: var(--list-size);
            height: var(--list-size);
            transition: var(--transition);
            border-radius: calc(var(--border-radius) / 1.5);
            font-size: 1.1rem;

            &:hover {
              background-color: var(--accent);
              color: var(--light);
            }
          }
        }
      }
    }
  }
}

.mobile-contact-buttons {
  position: fixed;
  inset-block-end: 0;
  width: 100vw;
  inset-inline-start: 0;
  background-color: hsla(var(--header-bg-hsl), 0.75);
  backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  padding-inline: 5vw;
  height: var(--mobile-contact-buttons-height);
  gap: 1rem;
  z-index: var(--max-z-index);
  .button {
    justify-content: center;
    white-space: nowrap;
    flex: 1;
  }
}

.product-highlight-section {
  --top-padding-start: calc(250px + 5vw);
  position: relative;
  padding-block-start: var(--top-padding-start);
  padding-block-end: calc(4rem + 2vw);
  background-image: url('/images/dashboard-screens.svg');
  background-repeat: no-repeat;
  background-position: center top;
  isolation: isolate;

  @media (width > 768px) {
    padding-inline: 2vw;
  }

  .content-block-wrapper {
    position: relative;
    width: 100%;
    max-width: calc(var(--wrapper-width) - 8rem);
    margin-inline: auto;
    gap: calc(2rem + 1.5vw);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    text-wrap: balance;

    .content-block {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 1rem;

      .icon {
        position: relative;
        width: 110px;
        height: 110px;
        padding: 0.5rem;
        isolation: isolate;

        img {
          position: relative !important;
          width: 100%;
          height: 100%;
          object-fit: contain;
        }

        &::before {
          content: '';
          position: absolute;
          inset: 0;
          scale: 0.75;
          background-color: var(--primary);
          border-radius: 50%;
          filter: blur(10px);
          z-index: -1;
          animation: glow 5s infinite;
        }
      }

      .content {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
      }
    }

    @media (width < 768px) {
      display: flex;
      gap: 1rem;
      overflow-x: scroll;
      padding-inline: var(--mobile-aside-gutter);
      padding-block-end: calc(var(--mobile-aside-gutter) / 2);

      &::-webkit-scrollbar-track {
        margin-inline: var(--mobile-aside-gutter);
      }

      .content-block {
        flex: 0 0 80vw;
        padding: calc(1rem + 2vw);
        background-color: hsla(var(--light-hsl), 0.07);
        backdrop-filter: blur(1px);
        border-radius: var(--border-radius);
        box-shadow: inset 0 0 0 1px hsla(var(--light-hsl), 0.075);
      }
    }
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: linear-gradient(0deg, hsla(var(--body-bg-hsl), 1) 0%, hsla(var(--body-bg-hsl), 0.9) 50%, hsla(var(--body-bg-hsl), 0) 100%);
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: linear-gradient(90deg, hsla(var(--body-bg-hsl), 0.9) 0%, hsla(var(--body-bg-hsl), 0) 25%, hsla(var(--body-bg-hsl), 0) 50%, hsla(var(--body-bg-hsl), 0) 75%, hsla(var(--body-bg-hsl), 0.9) 100%);
  }

  .cta-button-block {
    position: relative;
    width: 100%;
    max-width: var(--content-max-width);
    margin-inline: auto;
    margin-block-start: calc(4rem + 2vw);
    text-align: center;
    text-wrap: balance;
    display: flex;
    justify-content: center;
  }
}

.airline-logo-section {
  position: relative;
  padding-block-start: calc(1rem + 2vw);
  text-align: center;

  .content-header {
    padding-inline: 2vw;
  }

  .logo-carousel-wrapper {
    position: relative;
    padding-block: calc(0.5rem + 1vw);
    margin-block-start: calc(1rem + 1vw);
    isolation: isolate;

    @media (width > 768px) {
      &::after {
        content: '';
        position: absolute;
        inset: 0;
        background: linear-gradient(90deg,
            hsla(var(--body-bg-hsl), 1) 0%,
            hsla(var(--body-bg-hsl), 0) 25%,
            hsla(var(--body-bg-hsl), 0) 50%,
            hsla(var(--body-bg-hsl), 0) 75%,
            hsla(var(--body-bg-hsl), 1) 100%);
      }
    }
  }
}

.infinite-scroll-wrapper {
  --item-size: 250px;
  --item-height: 85px;
  --item-bg: #181842;
  padding-block: 0.7rem;
  overflow: hidden;
  margin-inline: auto;

  @media (width < 768px) {
    --item-size: 150px;
    --item-height: 52px;
    padding-block: 0.4rem;
  }

  .list {
    position: relative;
    width: 100%;
    min-height: var(--item-height);
    min-width: calc(var(--item-size) * var(--quantity));
    list-style: none;
    padding: 0;

    &:not(.reversed) {
      .list__item {
        inset-inline-start: 100%;
        animation: AutoRun calc(var(--animeTime) * 1) linear infinite;
        animation-delay: calc(var(--animeTime) / var(--quantity) * (var(--index) - 1) - var(--animeTime));
      }
    }

    &:is(.reversed) {
      .list__item {
        inset-inline-end: 100%;
        animation: AutoRunReversed calc(var(--animeTime) * 1) linear infinite;
        animation-delay: calc(var(--animeTime) / var(--quantity) * (var(--index) - 1) - var(--animeTime));
      }
    }

    .list__item {
      background-color: var(--item-bg);
      position: absolute;
      width: var(--item-size);
      height: var(--item-height);
      overflow: hidden;
      border-radius: var(--border-radius);

      img {
        width: 105%;
        height: 105%;
        position: relative !important;
        object-fit: contain;
      }

      &:hover img {
        filter: grayscale(0);
      }
    }
  }
}

.achievement-section {
  position: relative;
  padding-inline: 2vw;
  padding-block-start: calc(2rem + 2vw);
  padding-block-end: calc(2rem + 2vw);

  .achievement-wrapper {
    width: 100%;
    position: relative;
    margin-inline: auto;
    max-width: var(--wrapper-width);

    .cards-container {
      --card-gaps: calc(1rem + 1vw);
      position: relative;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: calc(1rem + 1vw);

      .achievement-card {
        position: relative;
        width: 100%;
        text-align: center;

        .icon {
          position: relative;
          width: 110px;
          aspect-ratio: 1;
          padding: 0.25rem;
          isolation: isolate;
          margin-inline: auto;
          margin-block-end: calc(1rem + 1vw);

          img {
            position: relative !important;
            object-fit: contain;
          }

          &::before {
            content: '';
            position: absolute;
            inset: 0;
            scale: 0.75;
            background-color: var(--primary);
            border-radius: 50%;
            filter: blur(10px);
            z-index: -1;
            animation: glow 5s infinite;
          }
        }

        .content {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          text-wrap: balance;

          small {
            opacity: 0.8;
          }
        }
      }

      @media (width < 738px) {
        overflow-x: scroll;
        padding-inline: var(--mobile-aside-gutter);
        padding-block-end: calc(var(--mobile-aside-gutter) / 2);

        &::-webkit-scrollbar-track {
          margin-inline: var(--mobile-aside-gutter);
        }

        .achievement-card {
          background-color: hsla(var(--light-hsl), 0.1);
          padding: var(--mobile-aside-gutter);
          width: 60vw;
          border-radius: var(--border-radius);
          box-shadow: inset 0 0 0 1px hsla(var(--light-hsl), 0.15);

          &:not(:last-child)::after {
            content: '';
            position: absolute;
            width: var(--card-gaps);
            height: 2px;
            background-color: var(--accent);
            inset-block-start: 50%;
            inset-inline-start: 100%;
          }
        }
      }
    }
  }

  @media (width < 738px) {
    padding-inline: 0;
  }
}

.product-features-section {
  position: relative;
  padding-inline: 2vw;
  padding-block: calc(3rem + 5vw);
  isolation: isolate;
  margin-block-end: 5rem;
  z-index: 1;

  .pattern {
    height: 100%;
  }

  @media (width < 768px) {
    padding-inline: var(--mobile-aside-gutter);
    padding-block-start: calc(5.5rem + 5vw);
    padding-block-end: calc(1.5rem + 5vw);
    margin-bottom: 0;
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    background: linear-gradient(0deg, hsla(var(--body-bg-hsl), 1) 0%, hsla(var(--body-bg-hsl), 0.6) 25%, hsla(var(--body-bg-hsl), 0) 50%, hsla(var(--body-bg-hsl), 0.6) 75%, hsla(var(--body-bg-hsl), 1) 100%);
  }

  .product-features-wrapper {
    --avatar-width: 400px;
    --direction-arrow: 100px;
    position: relative;
    margin-inline: auto;
    max-width: calc(var(--wrapper-width) - 10rem);

    @media (width < 768px) {
      --avatar-width: calc(300px + 5vw);
      --direction-arrow: 60px;
    }

    .highlighted-strip {
      position: relative;

      .executive-avatar {
        position: absolute;
        z-index: 1;
        width: calc(var(--avatar-width) - 50px);
        height: calc(var(--avatar-width) - 50px);
        margin-block-start: -50px;

        img {
          position: relative !important;
          object-fit: contain;
        }

        @media (width < 768px) {
          margin-block-start: -90px;
          margin-inline-start: calc(50% - calc(var(--avatar-width) / 2.3));
        }
      }

      .direction-arrow {
        position: absolute;
        width: var(--direction-arrow);
        z-index: 1;
        inset-inline-end: 5%;
        inset-block-start: calc(100% - calc(var(--direction-arrow) / 2));

        img {
          position: relative !important;
          object-fit: contain;
        }
      }

      .heading {
        position: relative;
        padding: calc(1rem + 0.5vw);
        padding-inline-start: var(--avatar-width);
        border-radius: calc(var(--border-radius) * 1.5);
        text-transform: uppercase;
        background-image: linear-gradient(35deg, #DC8D5E, #8282FF);
        color: var(--body-bg);

        @media (width < 768px) {
          padding: var(--mobile-aside-gutter);
          padding-block-start: calc(var(--avatar-width) / 1.6);
        }
      }

      .content {
        padding: calc(1rem + 0.5vw);
        padding-inline-start: var(--avatar-width);

        .text {
          display: block;
          max-width: calc(600px + 5vw);
        }

        .sub-heading {
          text-transform: uppercase;
          margin-block-end: 1rem;
          text-wrap: balance;
        }

        @media (width < 768px) {
          padding: var(--mobile-aside-gutter);
        }
      }
    }

    .features-lists-wrapper {
      position: relative;
      margin-block-start: calc(3rem + 4vw);
      margin-inline: auto;
      max-width: calc(var(--wrapper-width) - 12rem);
      isolation: isolate;

      @media (width > 767px) {
        &:before,
        &::after {
          content: '';
          position: absolute;
          z-index: -1;
          inset-inline-start: 20%;
        }

        &:before {
          inset-block-end: calc(100% + 1rem);
          content: url('/images/line-1.svg');
        }

        &::after {
          inset-block-start: calc(100% + 3rem);
          content: url('/images/line-2.svg');
        }
      }

      .features-lists {
        --card-bg: #2F2E70;
        --card-color: var(--light);
        --card-padding: calc(1rem + 0.5vw);
        --hand-shape-width: 70px;
        --hand-shape-height: 180px;
        --card-width: 260px;
        position: relative;
        display: flex;

        @media (width < 768px) {
          --hand-shape-width: 50px;
          --hand-shape-height: 100px;
          width: max-content;
          gap: 0.35vw;
        }

        &::after {
          content: '';
          position: absolute;
          inset-block-start: calc(100% + var(--hand-shape-height) - 26px);
          width: 100%;
          height: 1px;
          opacity: 0.5;
          background-image: linear-gradient(90deg, hsla(var(--light-hsl), 0) 0%, hsla(var(--light-hsl), 1) 50%, hsla(var(--light-hsl), 0) 100%);
        }

        .features-list {
          position: relative;
          background-color: var(--card-bg);
          color: var(--card-color);
          border-radius: calc(var(--border-radius) * 2);
          padding: var(--card-padding);
          text-wrap: balance;
          aspect-ratio: 2 / 1.75;
          max-width: var(--card-width);
          width: 100%;
          isolation: isolate;

          @media (width < 768px) {
            aspect-ratio: 16 / 9;
            width: 55vw;
            height: auto;

            &:first-child {
              margin-inline-end: calc(1rem + 10vw);
            }
          }

          .shapes {
            --svg-width: 55px;
            position: absolute;
            inset: 0;
            z-index: -1;
            color: var(--card-bg);

            svg {
              width: var(--svg-width);
              height: auto;
            }

            .shape-top {
              position: absolute;
              inset-block-end: calc(100% - 5px);
              inset-inline-start: calc(50% - calc(var(--svg-width) / 2));
            }

            .shape-left {
              position: absolute;
              inset-inline-end: calc(100% - 1px);
              inset-block-end: calc(50% - calc(var(--svg-width) / 2));
            }
          }

          .hand-shape {
            position: absolute;
            width: var(--hand-shape-width);
            height: var(--hand-shape-height);
            inset-block-start: calc(100% - 25px);
            inset-inline-end: 25px;

            img {
              position: relative !important;
              object-fit: contain;
            }
          }

          .icon {
            position: relative;
            width: 60px;
            aspect-ratio: 1;
            isolation: isolate;
            margin-block-end: 0.75rem;

            img {
              position: relative !important;
              object-fit: contain;
            }

            &::before {
              content: '';
              position: absolute;
              inset: 0;
              scale: 0.75;
              background-color: var(--primary);
              border-radius: 50%;
              filter: blur(10px);
              z-index: -1;
              animation: glow 5s infinite;
            }
          }

          h6 {
            max-width: min-content;
            line-height: 1.35;
            font-weight: 600;
          }

          &:first-child {
            margin-inline-end: auto;
            --hand-shape-width: 120px;

            .shapes .shape-left {
              inset-inline-end: initial;
              inset-inline-start: calc(100% - var(--svg-width) + 2px);
              color: var(--body-bg);
            }
          }

          &:nth-child(2) {
            --card-bg: #40356A;
          }

          &:nth-child(3) {
            --card-bg: #C18A8E;
            --card-color: var(--body-bg);
          }

          &:nth-child(4) {
            --card-bg: #845137;
          }
        }
      }

      @media (width < 768px) {
        margin-block-start: var(--mobile-aside-gutter);
        width: 100vw;
        overflow-x: scroll;
        margin-inline-start: calc(0px - var(--mobile-aside-gutter));
        padding-inline: var(--mobile-aside-gutter);
        padding-block-start: calc(var(--mobile-aside-gutter) * 3.25);
        padding-block-end: calc(var(--mobile-aside-gutter) * 3.8);

        &::-webkit-scrollbar-track {
          margin-inline: var(--mobile-aside-gutter);
        }
      }
    }
  }

  .much-more {
    position: relative;
    display: flex;
    justify-content: center;
    position: absolute;
    inset-block-start: calc(100% + 3rem);
    text-align: center;
    width: 100%;
    opacity: 0.75;

    @media (width < 768px) {
      inset-block-start: calc(100% - 1rem);
    }
  }
}

.form-container {
  --input-height: 52px;
  --input-padding-x: 1rem;
  --input-bg: var(--light);
  --input-file-button-bg: var(--dark);
  --input-file-button-color: var(--light);
  --input-border-color: var(--light);
  --input-color: var(--dark);
  --outline-color: var(--accent);
  --icon-size: 21px;
  --icon-color: inherit;
  --icon-scale: 0;
  --icon-type: '';

  position: relative;
  width: 100%;
  margin-block-start: calc(1rem + 0.5vw);

  .button {
    --button-font-size: 1.25rem;
    --button-height: 58px;
  }

  .note {
    margin-block-start: calc(1rem + 0.5vw);
    padding-inline-start: calc(1rem + 0.25vw);
    border-inline-start: 2px solid var(--accent);
  }

  .contact-form {
    --columns: 2;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: calc(1rem + 0.25vw);
    width: 100%;

    .full-edge {
      grid-column: 2 span;
    }

    @media (width < 768px) {
      --columns: 1;

      .full-edge {
        grid-column: 1 span;
      }
    }


    .input-group {
      position: relative;
      color: var(--dark);

      &::after {
        content: var(--icon-type);
        position: absolute;
        width: var(--icon-size);
        height: var(--icon-size);
        border-radius: calc(var(--border-radius) * 2);
        font-family: 'Font Awesome 6 Free';
        font-weight: 900;
        inset-inline-end: 10px;
        inset-block-start: 15px;
        display: grid;
        place-items: center;
        color: var(--icon-color);
        scale: var(--icon-scale);
        transition: var(--transition);
        font-size: 1.25em;
        transition-delay: 0.15s;
      }

      &:is(.error) {
        --input-bg: #ffe9e9;
        --input-border-color: #c43131;
        --input-color: #be0909;
        --input-file-button-bg: var(--input-color);
        --input-file-button-color: var(--input-bg);
        --outline-color: var(--input-border-color);
        --icon-color: var(--input-color);
        --icon-scale: 1;
        --icon-type: '\f057';
      }

      &:is(.success) {
        --input-bg: #f5fff9;
        --input-border-color: var(--light);
        --input-color: #006d2d;
        --input-file-button-bg: var(--input-color);
        --input-file-button-color: var(--input-bg);
        --outline-color: var(--input-border-color);
        --icon-color: var(--input-color);
        --icon-scale: 1;
        --icon-type: '\f058';

        .input-field {
          font-weight: 600;
        }
      }

      .error {
        position: relative;
        color: rgb(214, 5, 5);
        inset-inline-start: 0;
        font-size: 0.75rem;
      }

      .input-label {
        display: none;
      }

      .input-field {
        position: relative;
        width: 100%;
        background-color: var(--input-bg);
        color: var(--input-color);
        border-radius: var(--border-radius);
        border: 1px solid var(--input-border-color);
        padding-inline: var(--input-padding-x);
        font-size: 1.05rem;

        &:not(.textarea) {
          height: var(--input-height);
        }

        &::placeholder {
          color: inherit;
          opacity: 0.8;
        }

        &:-webkit-autofill {
          -webkit-box-shadow: 0 0 0 30px var(--input-bg) inset !important;
          -webkit-text-fill-color: var(--input-color) !important;
        }
        &[type="file"] {
          padding: 0.25rem;
          &::file-selector-button {
            background-color: var(--input-file-button-bg);
            font-weight: bold;
            color: var(--input-file-button-color);
            padding-inline: 1rem;
            height: calc(var(--input-height) - (0.25rem * 2.5));
            border: thin solid transparent;
            border-radius: calc(var(--border-radius) / 1.5);
            margin-inline-end: 0.75rem;
            cursor: pointer;
            transition: var(--transition);
            &:hover {
              background-color: var(--primary);
            }
            &::after {
              content: 'adasdfasdf';
            }
          }
        }
      }

      select {
        --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
        appearance: none;
        background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
        background-repeat: no-repeat;
        background-position: right .75rem center;
        background-size: 16px 12px;
      }

      .textarea {
        appearance: none;
        padding-block: var(--input-padding-x);
        height: auto !important;
        resize: none;
      }

      &:is(.error, .success) {
        select {
          background-position: right 2.75rem center;
        }
      }
    }
  }

  button {
    max-width: max-content;
  }

  .form-message-box {
    position: relative;
    padding-inline: 1rem;
    padding-block: 0.75rem;
    background-color: var(--message-box-bg, hsla(var(--primary-hsl), 0.15));
    color: var(--message-box-color, var(--primary));
    border-radius: var(--message-box-border-radius, var(--border-radius));

    &:is(.type--success, .type--green) {
      --message-box-bg: hsla(var(--green-hsl), 0.15);
      --message-box-color: var(--green);
    }

    &:is(.type--failed, .type--rejected, .type--danger) {
      --message-box-bg: hsla(var(--red-hsl), 0.15);
      --message-box-color: var(--red);
    }
  }
}

@keyframes AutoRun {
  100% {
    inset-inline-start: calc(0px - var(--item-size));
  }
}

@keyframes AutoRunReversed {
  100% {
    inset-inline-end: calc(0px - var(--item-size));
  }
}

@keyframes jump {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-25px);
  }
}

@keyframes glow {

  0%,
  100% {
    scale: 0.25;
    filter: blur(10px);
  }

  50% {
    scale: 0.75;
    filter: blur(70px);
  }
}

@keyframes rotate {
  100% {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}