.company-page {
  position: relative;
}

.about-hero-section {
  --content-max-width: calc(65rem + 5vw);
  --direction-arrow: 80px;
  --heading-font-size: clamp(2rem, 5vw, 4rem);
  --block-padding-y: calc(1.5rem + 1.5vw);
  --block-padding-x: calc(2rem + 1.5vw);
  --banner-height: calc(300px + 5vw);
  --avatar-width: calc(350px + 12vw);
  position: relative;
  width: 100%;
  isolation: isolate;
  margin-block-start: calc(0rem - var(--body-top-padding));
  padding-block-start: calc(var(--body-top-padding) + 0.75rem);
  padding-inline: 2vw;
  padding-block-end: calc(3rem + 2vw);
  @media (width < 768px) {
    --direction-arrow: 60px;
    padding-block-start: calc(var(--body-top-padding) + var(--mobile-aside-gutter) / 2);
    padding-inline: var(--mobile-aside-gutter);
    padding-block-end: calc(2rem + 0vw);
  }

  .hero-content-wrapper {
    position: relative;
    margin-inline: auto;
    z-index: 1;
    max-width: var(--content-max-width);
    margin-inline: auto;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (width < 992px) {
      --banner-height: calc(250px + 5vw);
    }
    
    .animated-border-box,
    .animated-border-box-glow {
      position: absolute;
      overflow: hidden;
      z-index: 0;
      inset: 0;
    }

    .animated-border-box-glow {
      overflow: hidden;
      filter: blur(10px);
      opacity: 0.5;
    }

    .animated-border-box:before,
    .animated-border-box-glow:before {
      content: '';
      z-index: -2;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(0deg);
      position: absolute;
      width: 99999px;
      height: 99999px;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-image: conic-gradient(transparent, var(--accent), transparent 25%);
      animation: rotate 10s linear infinite;
    }

    .animated-border-box:after {
      content: '';
      position: absolute;
      z-index: -1;
      left: 1px;
      top: 1px;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
    }

    .hero-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-inline: var(--block-padding-x);
      padding-inline-end: calc(var(--block-padding-x) / 2);
      position: relative;
      color: var(--body-bg);
      background-image: linear-gradient(35deg, #F6CDAF, #DADAFF);
      isolation: isolate;
      width: 100%;
      @media (width < 768px) {
        flex-direction: column;
        padding: 0;
      }
      &::before {
        content: "";
        position: absolute;
        inset: 0;
        opacity: 0.08;
        background: transparent url(/images/wave2.gif) no-repeat;
        background-blend-mode: luminosity;
        background-position: center bottom 90%;
        z-index: -1;
      }

      .heading {
        text-transform: uppercase;
        text-wrap: pretty;
        max-width: min-content;
        line-height: 1.1;
        @media (width < 768px) {
          width: 100%;
          text-wrap: balance;
          max-width: max-content;
          padding: var(--mobile-aside-gutter);
          padding-block-end: 0;
          text-align: center;
        }
      }

      .team-avatars {
        position: relative;
        height: var(--banner-height);
        width: var(--avatar-width);
        overflow: clip;
        &::before {
          content: '';
          position: absolute;
          inset: 0;
          scale: 0.6;
          border-radius: 100%;
          background-color: var(--accent);
          filter: blur(100px);
          opacity: 0.65;
          inset-block-end: calc(0px - var(--banner-height) * 1.25);
        }
        img {
          position: relative !important;
          object-fit: contain;
          object-position: bottom;
          display: block;
        }
      }
    }
    .direction-arrow {
      position: absolute;
      width: var(--direction-arrow);
      z-index: 1;
      inset-inline-start: 3%;
      inset-block-end: -15%;
      @media (width < 768px) {
        inset-block-end: -10%;        
      }

      img {
        position: relative !important;
        object-fit: contain;
      }
    }
  }

  .down-arrow {
    position: absolute;
    inset-block-start: calc(100% - 10px);
    inset-inline-start: calc(50% - 25px);
    width: 50px;
    animation: jump 3s infinite;

    img {
      position: relative !important;
      object-fit: contain;
    }
  }

  .sub-content {
    position: relative;
    width: 100%;
    max-width: var(--content-max-width);
    margin-inline: auto;
    margin-block-start: calc(2rem + 3vw);
    text-align: center;
    text-wrap: balance;
    @media (width < 768px) {
      margin-block-start: calc(2rem + 10vw);      
    }
  }
}

.about-content-section {
  position: relative;
  padding-block-start: calc(1rem + 3vw);
  padding-inline: 2vw;
  @media (width < 768px) {
    padding-inline: 0;
    padding-block-start: 5vw;
  }
  .about-content-wrapper {
    position: relative;
    width: 100%;
    max-width: calc(var(--wrapper-width) - 8rem);
    margin-inline: auto;
    display: flex;
    @media (width < 768px) {
      flex-direction: column-reverse;
      padding: var(--mobile-aside-gutter);
    }
    > * { flex: 1; }
    .thumbnail-container {
      position: relative;
      width: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        position: relative !important;
      }
    }
    .content-block {
      position: relative;
      padding-inline-start: calc(1rem + 2vw);
      padding-block-start: calc(1rem + 2vw);
      display: flex;
      flex-direction: column;
      gap: 1rem;
      text-wrap: balance;
      @media (width < 768px) {
        padding: 0;
        padding-block-end: calc(var(--mobile-aside-gutter) * 1.5);
      }
    }
  }
}

.about-product-section {
  --product-color: var(--accent);  
  --product-card-bg-hsl: 218, 79%, 15%;
  --product-card-bg: hsl(var(--product-card-bg-hsl));
  --product-card-color-hsl: 197, 88%, 51%;
  --product-card-color: hsl(var(--product-card-color-hsl));
  --product-card-padding: calc(1.5rem + 1.5vw);
  --product-card-logo-height: calc(60px + 2.5vw);
  
  position: relative;
  padding-inline: 2vw;
  padding-block: 5vw;
  @media (width < 768px) {
    padding-inline: var(--mobile-aside-gutter);
  }
  
  .about-product-wrapper {
    position: relative;
    width: 100%;
    max-width: calc(var(--wrapper-width) - 8rem);
    margin-inline: auto;
    
    .section-header {
      position: relative;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
      text-wrap: balance;
      isolation: isolate;
      margin-block-end: calc(1rem + 2vw);
      p {
        max-width: 800px;
        line-height: 1.5em;
      }
      &::before {
        content: '';
        position: absolute;
        width: 50%;
        height: 20%;
        border-radius: 100%;
        background-color: var(--primary);
        z-index: -1;
        filter: blur(30px);
      }
    }
    .product-card-wrapper {
      position: relative;
      display: flex;
      gap: calc(1rem + 2vw);
      @media (width < 768px) {
        flex-direction: column;
      }
      
      .product-card {
        --strip-bg: var(--product-card-color-hsl);
        position: relative;
        padding: var(--product-card-padding);
        border-radius: calc(var(--border-radius) * 2);
        width: 100%;
        background-color: var(--product-card-bg);
        color: var(--product-card-color);
        isolation: isolate;
        &:is(.sta-card) {
          --product-card-bg-hsl: 191, 51%, 21%;
          --product-card-bg: hsl(var(--product-card-bg-hsl));
          --product-card-color-hsl: 159, 69%, 58%;
          --product-card-color: hsl(var(--product-card-color-hsl));
        }
        &::before, &::after {
          content: "";
          border-radius: inherit;
          z-index: -1;
          position: absolute;
          inset: 0;
          overflow: clip;
        }
        &::before {
          opacity: .07;
          background-image: url(/images/square-pattern.svg);
          background-repeat: repeat;
        }
        &::after {
          background-image: linear-gradient(to top, hsla(var(--product-card-bg-hsl), 1) 0%, hsla(var(--product-card-bg-hsl), 0) 100%);
        }
        .content {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: calc(1rem + 1vw);
          .text {
            display: grid;
            gap: 1rem;
            p {
              color: var(--body-color);
              line-height: 1.5em;
            }
          }
        }
        .block-logo {
          position: relative;
          height: var(--product-card-logo-height);
          img {
            position: relative !important;
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }

    }
    .support-block {
      position: relative;
      max-width: calc(500px + 5vw);
      width: 100%;
      border-radius: calc(var(--border-radius) * 1.5);
      display: flex;
      margin-inline: auto;
      margin-block-start: calc(2rem + 1vw);
      background-image: linear-gradient(35deg, #dc8d5e, #8282ff);

      @media (width < 768px) {
        margin-block-start: var(--mobile-aside-gutter);
        flex-direction: column;
      }
      > .icon {
        width: calc(120px + 5vw);
        height: auto;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;
        aspect-ratio: 1 / 1;
        padding-inline: 1.5rem;
        padding-block-end: 0;
        margin-block-end: -1px;
        @media (width < 768px) {
          width: calc(120px + 10vw);
          border-block-end: 2px solid var(--light);
        }
        img {
          position: relative !important;
          width: 100%;
          height: auto;
          object-fit: contain;
          object-position: bottom;
        }
      }
      .button { max-width: max-content;}
      .content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
        color: var(--light);
        padding: 1rem;
      }
    }
  }
}

.we-serve-section {
  --block-padding: 5vw;
  position: relative;
  padding-inline: var(--block-padding);
  @media (width < 768px) {
    --block-padding: var(--mobile-aside-gutter);
  }

  .we-serve-wrapper {
    position: relative;
    width: 100%;
    max-width: var(--wrapper-width);
    margin-inline: auto;

    .content {
      position: relative;
      padding-block: calc(2rem + 2vw);
      max-width: calc(500px + 5vw);
      display: flex;
      flex-direction: column;
      gap: 1rem;
      p {
        line-height: 1.5rem;
      }
    }
  }
  .section-image {
    position: absolute;
    inset: 0;
    &::after {
      content: '';
      position: absolute;
      inset: -1rem 0;
      background-image: linear-gradient(to left, hsla(var(--body-bg-hsl), 0) 0, hsla(var(--body-bg-hsl), 0.25) 10%,  hsla(var(--body-bg-hsl), 1) 100%);
    }
    img {
      position: relative !important;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .note-wrapper {
    position: absolute;
    inset-block-start: 100%;
    inset-inline-start: 0;
    background-image: linear-gradient(to left, hsla(var(--header-bg-hsl), 0) 0, hsla(var(--header-bg-hsl), 0.5) 100%);
    padding-inline-start: calc((100vw - var(--wrapper-width)) / 2);
    padding-inline: var(--block-padding);
    width: 100%;
    .note {
      padding-block: calc(var(--block-padding) / 4);
      width: 100%;
      max-width: var(--wrapper-width);
      margin-inline: auto;
      display: block;
      line-height: 1.25rem;
      span {
        max-width: calc(400px + 5vw);
        display: block;
      }
    }
  }
}

.certification-section {
  --padding-block: 5vw;
  position: relative;
  width: 100%;
  padding-inline: var(--padding-block);
  padding-block-start: calc(5rem + var(--padding-block));
  padding-block-end: calc(1rem + var(--padding-block) / 2);
  @media (width < 768px) {
    --padding-block: var(--mobile-aside-gutter);    
  }
  .certification-wrapper {
    width: 100%;
    max-width: var(--wrapper-width);
    margin-inline: auto;

    .certificate-content {
      position: relative;
      width: 100%;
      max-width: calc(800px + 5vw);
      margin-inline: auto;
      display: flex;
      align-items: center;
      gap: calc(1rem + 2vw);
      text-wrap: balance;
      @media (width < 768px) {
        flex-direction: column;
      }
      .content {
        position: relative;
        width: 100%;
        .certificate-list {
          position: relative;
          display: flex;
          gap: 1rem;
          list-style: none;
          margin-block-start: calc(1.5rem + 1vw);
      
          @media (width < 768px) {
            width: 100vw;
            margin-inline-start: calc(0px - var(--padding-block));      
            padding-inline: var(--padding-block);
            overflow-x: scroll;
            padding-block-end: calc(var(--padding-block) / 1);            
            &::-webkit-scrollbar-track {
              margin-inline: calc(var(--padding-block) * 1);
            }
          }
      
          .certificate-list_item {
            position: relative;
            width: calc(50px + 3.5vw);
            aspect-ratio: 1 / 1;
            flex-shrink: 0;
            @media (width < 768px) {
              width: calc(100px + 5vw);
            }
      
            img {
              transition: var(--transition);      
              &:not(:hover) {
                filter: grayscale(1);
                opacity: 0.65;
              }
            }
          }
        }
        p {
          line-height: 1.5em;
          margin-block-start: 1rem;
        }
      }
      .icon {
        width: 220px;
        aspect-ratio: 1/1;
        flex-shrink: 0;
        position: relative;
        @media (width < 768px) {
          width: calc(120px + 4vw);
        }
        &::before {
          content: '';
          position: absolute;
          inset: 0;
          scale: 0.75;
          background-color: var(--primary);
          border-radius: 50%;
          filter: blur(10px);
          z-index: -1;
          animation: glow 5s infinite;
        }
      }
      img {
        position: relative !important;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}