.home-page {
  position: relative;
}
.hero-section {
  --content-max-width: calc(55rem + 5vw);
  position: relative;
  width: 100%;
  isolation: isolate;
  margin-block-start: calc(0rem - var(--body-top-padding));
  padding-block-start: calc(var(--body-top-padding) + 0.75rem);
  padding-inline: 2vw;
  padding-block-end: var(--page-padding-x);
  
  .hero-content-wrapper {
    --heading-font-size: clamp(2rem, 5vw, 4rem);
    --block-padding-y: calc(1.5rem + 1.5vw);
    --block-padding-x: calc(1.5rem + 1.5vw);
    position: relative;
    margin-inline: auto;
    z-index: 1;
    max-width: var(--content-max-width);
    margin-inline: auto;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (width < 1200px) {
      max-width: 800px;
    }
    @media (width < 992px) {
      max-width: 80vw;
    }
    @media (width < 768px) {
      max-width: 92vw;
    }

    .animated-border-box,
    .animated-border-box-glow {
      position: absolute;
      overflow: hidden;
      z-index: 0;
      inset: 0;
    }
  
    .animated-border-box-glow {
      overflow: hidden;
      filter: blur(10px);
      opacity: 0.5;
    }
  
    .animated-border-box:before,
    .animated-border-box-glow:before {
      content: '';
      z-index: -2;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(0deg);
      position: absolute;
      width: 99999px;
      height: 99999px;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-image: conic-gradient(transparent, var(--accent), transparent 25%);
      animation: rotate 10s linear infinite;
    }
  
    .animated-border-box:after {
      content: '';
      position: absolute;
      z-index: -1;
      left: 1px;
      top: 1px;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
    }

    .hero-content {
      display: flex;
      justify-content: center;
      padding-block: var(--block-padding-y);
      padding-inline: var(--block-padding-x);
      position: relative;
      background-color: hsl(240, 54%, 21%);
      isolation: isolate;
      &::before {
        content: "";
        position: absolute;
        inset: 0;
        opacity: 0.15;
        background: transparent url(/images/wave2.gif) no-repeat;
        background-blend-mode: luminosity;
        z-index: -1;
      }  
      .heading {
        /* font-size: var(--heading-font-size); */
        text-transform: uppercase;
        text-align: center;
        text-wrap: pretty;
      }
    }
  }

  .down-arrow {
    position: absolute;
    inset-block-start: calc(100% - 10px);
    inset-inline-start: calc(50% - 25px);
    width: 50px;
    animation: jump 3s infinite;
    img {
      position: relative !important;
      object-fit: contain;
    }
  }

  .sub-content {
    position: relative;
    width: 100%;
    max-width: var(--content-max-width);
    margin-inline: auto;
    margin-block-start: calc(4rem + 2vw);
    text-align: center;
    text-wrap: balance;
  }
}

.product-highlight-section {
  --top-padding-start: calc(250px + 5vw);
  position: relative;
  padding-block-start: var(--top-padding-start);
  padding-block-end: calc(4rem + 2vw);
  background-image: url('/images/dashboard-screens.svg');
  background-repeat: no-repeat;
  background-position: center top;
  isolation: isolate;
  @media (width > 768px) {
    padding-inline: 2vw;    
  }

  .content-block-wrapper {
    position: relative;
    width: 100%;
    max-width: calc(var(--wrapper-width) - 8rem);
    margin-inline: auto;
    gap: calc(2rem + 1.5vw);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    text-wrap: balance;

    .content-block {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;      
      gap: 1rem;
      .icon {
        position: relative;
        width: 110px;
        aspect-ratio: 1;
        padding: 0.25rem;
        isolation: isolate;
        img { 
          position: relative !important; 
          object-fit: contain; 
        }
        &::before {
          content: '';
          position: absolute;
          inset: 0;
          scale: 0.75;
          background-color: var(--primary);
          border-radius: 50%;
          filter: blur(10px);
          z-index: -1;
          animation: glow 5s infinite;
        }
      }
      .content {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
      }
    }
    @media (width < 768px) {
      display: flex;
      gap: 1rem;
      overflow-x: scroll;
      padding-inline: var(--mobile-aside-gutter);
      padding-block-end: calc(var(--mobile-aside-gutter) / 2);
      &::-webkit-scrollbar-track {
        margin-inline: var(--mobile-aside-gutter);
      }

      .content-block {
        flex: 0 0 80vw;
        padding: calc(1rem + 2vw);
        background-color: hsla(var(--light-hsl), 0.07);
        backdrop-filter: blur(1px);
        border-radius: var(--border-radius);
        box-shadow: inset 0 0 0 1px hsla(var(--light-hsl), 0.075);
      }
    }
  }
  
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: linear-gradient(0deg, hsla(var(--body-bg-hsl), 1) 0%, hsla(var(--body-bg-hsl), 0.9) 50%, hsla(var(--body-bg-hsl), 0) 100%);
  }
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: linear-gradient(90deg, hsla(var(--body-bg-hsl), 0.9) 0%, hsla(var(--body-bg-hsl), 0) 25%, hsla(var(--body-bg-hsl), 0) 50%, hsla(var(--body-bg-hsl), 0) 75%, hsla(var(--body-bg-hsl), 0.9) 100%);
  }

  .cta-button-block {
    position: relative;
    width: 100%;
    max-width: var(--content-max-width);
    margin-inline: auto;
    margin-block-start: calc(4rem + 2vw);
    text-align: center;
    text-wrap: balance;
    display: flex;
    justify-content: center;
  }
}

.airline-logo-section {
  position: relative;
  padding-block-start: calc(1rem + 2vw);
  text-align: center;

  .content-header {
    padding-inline: 2vw;    
  }
  .logo-carousel-wrapper {
    position: relative;
    padding-block: calc(0.5rem + 1vw);
    margin-block-start: calc(1rem + 1vw);
    isolation: isolate;
    @media (width > 768px) {
      &::after {
        content: '';
        position: absolute;
        inset: 0;
        background: linear-gradient(90deg, 
          hsla(var(--body-bg-hsl), 1) 0%, 
          hsla(var(--body-bg-hsl), 0) 25%, 
          hsla(var(--body-bg-hsl), 0) 50%, 
          hsla(var(--body-bg-hsl), 0) 75%, 
          hsla(var(--body-bg-hsl), 1) 100%);
      }      
    }
  }
}

.infinite-scroll-wrapper {
  --item-size: 250px;
  --item-height: 85px;
  --item-bg: #181842;
  padding-block: 0.7rem;
  overflow: hidden;
  margin-inline: auto;
  @media (width < 768px) {
    --item-size: 150px;
    --item-height: 52px;    
    padding-block: 0.4rem;
  }

  .list {
    position: relative;
    width: 100%;
    min-height: var(--item-height);
    min-width: calc(var(--item-size) * var(--quantity));
    list-style: none;
    padding: 0;
    &:not(.reversed) {
      .list__item {
        inset-inline-start: 100%;
        animation: AutoRun calc(var(--animeTime) * 1) linear infinite;
        animation-delay: calc(var(--animeTime) / var(--quantity) * (var(--index) - 1) - var(--animeTime));
      }
    }
    &:is(.reversed) {
      .list__item {
        inset-inline-end: 100%;
        animation: AutoRunReversed calc(var(--animeTime) * 1) linear infinite;
        animation-delay: calc(var(--animeTime) / var(--quantity) * (var(--index) - 1) - var(--animeTime));
      }
    }
    .list__item {
      background-color: var(--item-bg);
      position: absolute;
      width: var(--item-size);
      height: var(--item-height);
      overflow: hidden;
      border-radius: var(--border-radius);

      img {
        width: 105%;
        height: 105%;
        position: relative !important;
        object-fit: contain;
      }
      &:hover img {
        filter: grayscale(0);
      }
    }
  }
}

.product-section {
  position: relative;
  padding-inline: 2vw;
  padding-block-start: 2vw;
  @media (width < 768px) {
    padding-block-start: 5vw;
    padding-inline: var(--mobile-aside-gutter);
  }

  .section-header {
    position: relative;
    text-align: center;
    text-wrap: balance;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block-end: calc(1rem + 2vw);
    p {
      max-width: calc(700px + 5vw);
      margin-block-start: 1rem;
    }
  }

  .section-content {
    position: relative;
    max-width: var(--wrapper-width);
    margin-inline: auto;
    .product-tab-header {
      position: sticky;
      inset-block-start: var(--header-height);
      z-index: 10;
      margin-inline: auto;
      max-width: max-content;
      background-color: var(--common-button-bg);
      border-radius: calc(var(--border-radius) * 1.5);
      padding: 0.5rem;
      display: flex;
      margin-block-end: calc(1rem + 1.5vw);

      .tab-item {
        --tab-height: 60px;
        position: relative;
        border-radius: var(--border-radius);
        height: var(--tab-height);
        display: flex;
        align-items: center;
        justify-content: center;
        padding-inline: calc(1rem + 0.5vw);
        
        &:is(.active) {
          font-weight: 700;
          background-color: var(--accent);
          color: var(--light);
        }
      }
      @media (width < 768px) {
        border-radius: 0;
        padding-inline: calc(var(--mobile-aside-gutter) / 3);
        width: 100vw;
        max-width: 100vw;
        margin-inline-start: calc(0px - var(--mobile-aside-gutter));
        .tab-item {
          --tab-height: 48px;
          padding-inline: 0.5rem;
          font-size: 0.9rem;
          line-height: 1.25rem;
          flex: 1;
          /* text-wrap: balance; */
          text-align: center;
        }
      }
    }
    .product-tab-data-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: calc(1rem + 1vw);
      
      .product-detail-block {
        --product-block-bg-hsl: 218, 79%, 15%;
        --product-block-bg: hsl(var(--product-block-bg-hsl));
        --product-block-color-hsl: 197, 88%, 51%;
        --product-block-color: hsl(var(--product-block-color-hsl));
        --product-block-padding: calc(1.5rem + 1vw);
        --block-logo-width: calc(350px + 4vw);
        
        position: relative;
        background-color: var(--product-block-bg);
        border-radius: calc(var(--border-radius) * 2.5);
        padding: var(--product-block-padding);
        isolation: isolate;
        @media (width < 768px) {
          --product-block-padding: var(--mobile-aside-gutter);
          --block-logo-width: calc(350px + 4vw);
          --block-logo-width: calc(250px + 4vw);
          border-radius: calc(var(--border-radius) * 2);          
        }
        
        &:is(.sta-block) {
          --product-block-bg-hsl: 191, 51%, 21%;
          --product-block-bg: hsl(var(--product-block-bg-hsl));
          --product-block-color-hsl: 159, 69%, 58%;
          --product-block-color: hsl(var(--product-block-color-hsl));          
        }
        &:is(.stp-block) {
          .block-header {
            .block-end {
              position: relative;
              @media (width > 1200px) {
                margin-inline-end: calc(-0px - var(--product-block-padding));
              }
              @media (width < 768px) {
                width: 100vw;
              }
            }
          }
        }
        .block-header {
          position: relative;
          display: flex;
          justify-content: space-between;
          align-items: center;
          
          .block-start {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: calc(1.5rem + 1.5vw);
          }

          @media (width < 1200px) {
            flex-direction: column;
            gap: calc(1.5rem + 1.5vw);
            .block-start {
              flex-direction: row;
              align-items: flex-start;
              gap: calc(2rem + 4vw);
            }
          }
          @media (width < 768px) {
            flex-direction: column;
            .block-start {
              flex-direction: column;
              align-items: flex-start;
              gap: var(--mobile-aside-gutter);
            }
          }
          
          .block-logo {
            position: relative;
            width: var(--block-logo-width);
            img {
              position: relative !important;
              object-fit: contain;
            }
          }
          .content {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            max-width: calc(500px + 5vw);
            text-wrap: balance;
            .heading {
              color: var(--product-block-color);
            }
          }
          .product-screenshot {
            position: relative;
            width: 100%;
            max-width: calc(600px + 5vw);
            img {
              position: relative !important;
              object-fit: contain;
              @media (width < 1200px) {
                max-height: 400px;
              }
            }
          }
        }
        &::before, &::after {
          content: '';
          position: absolute;
          inset: 0;
          border-radius: inherit;
          overflow: clip;
          z-index: -1;
        }
        &::before {
          background-image: url('/images/square-pattern.svg');
          background-repeat: repeat;
          opacity: 0.07;
        }
        &::after {
          background-image: linear-gradient(to top, hsla(var(--product-block-bg-hsl), 1) 0%, hsla(var(--product-block-bg-hsl), 0) 100%);
        }
        .block-content {
          position: relative;
          padding-block-start: calc(1rem + 2vw);
          @media (width < 768px) {
            width: 100vw;
            margin-inline-start: calc(0px - calc(var(--mobile-aside-gutter) * 2));
          }
        }
        .points {
          position: relative;
          display: flex;
          list-style: none;
          gap: calc(0.75rem + 0.5vw);
          .points-item {
            position: relative;
            background-color: hsla(var(--product-block-color-hsl), 0.1);
            backdrop-filter: blur(3px);
            padding: calc(1rem + 0.5vw);
            border-radius: var(--border-radius);
            max-width: 330px;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            align-items: start;
            min-width: 300px;

            @media (width < 1200px) {
              max-width: 100%;
            }
            &:not(.support-block) {
              flex: 1;
            }
            .icon {
              width: 90px;
              height: 90px;
              img {
                position: relative !important;
                object-fit: contain;
              }
            }
            .point-title {
              margin-bottom: 1rem;
            }
            .list {
              display: grid;
              gap: 0.5rem;
              list-style: none;
              .list-item {
                position: relative;
                display: flex;
                gap: 0.75rem;
                &::before {
                  content: '';
                  width: 8px;
                  height: 8px;
                  border-radius: 10px;
                  margin-block-start: 0.4rem;
                  background-color: var(--product-block-color);
                  display: inline-block;
                  flex-shrink: 0;
                }
              }
            }
          }
          .support-block {
            --avatar-size: 150px;
            position: relative;
            margin-inline-start: calc(1rem + 1vw);
            text-wrap: balance;
            max-width: 220px;
            > .icon {
              width: var(--avatar-size);
              height: var(--avatar-size);
              border-bottom: 3px solid var(--product-block-color);
              margin-block-end: 1rem;
              flex-shrink: 0;
          
              img {
                position: relative !important;
                object-fit: contain;
              }
            }
            .button {
              margin-block-start: 1rem;
              max-width: max-content;
            }
            @media (width < 1200px) {
              display: flex;
              align-items: center;
              gap: 1.5rem;
              max-width: 100%;
            }
            @media (width < 768px) {
              flex-direction: column;
              min-width: 200px;
              margin-inline-start: 0.75rem;
              align-items: flex-start;
            }
          }
          
          @media (width < 1200px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
          }
          @media (width < 768px) {
            display: flex;
            overflow-x: scroll;
            padding-inline: calc(var(--product-block-padding) * 2);
            padding-block-end: calc(var(--product-block-padding) / 1);
            &::-webkit-scrollbar-track {
              margin-inline: calc(var(--product-block-padding) * 2);
            }
            .points-item {
              width: 80vw;
              backdrop-filter: blur(10px);
            }
          }
          
        }
        .strip-start, .strip-end {
          width: 70%;
          inset-inline-start: 15%;
          opacity: 1;
          background-image: linear-gradient(90deg, hsla(var(--product-block-color-hsl), 0) 0%, hsla(var(--product-block-color-hsl), 1) 50%, hsla(var(--product-block-color-hsl), 0) 100%);;
        }
        .strip-start { inset-block-start: 0; }
        .strip-end { inset-block-end: 0; }

        .sta-points-block {
          position: relative;
          max-width: calc(36rem + 5vw);
          @media (width < 1200px) {
            max-width: 100%;
          }
          @media (width < 768px) {
            width: 100vw;
            /* margin-inline-start: calc(0px - calc(var(--mobile-aside-gutter) * 2)); */
          }
          .support-block {
            @media (width > 1200px) {
              --avatar-size: 90px;
            }
          }
          .points {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            .points-item {
              max-width: 100%;
              @media (width < 1200px) {
                flex-direction: row;
                align-items: center;
              }
            }
            @media (width < 768px) {
              display: flex !important;
              overflow-x: scroll;
              padding-inline: calc(var(--product-block-padding) * 2);
              padding-block-end: calc(var(--product-block-padding) / 1);

              &::-webkit-scrollbar-track {
                margin-inline: calc(var(--product-block-padding) * 2);
              }

              .points-item {
                width: 80vw;
                backdrop-filter: blur(10px);
              }
            }
          }
        }
      }
    }
  }
}

.code-editor-wrapper {
  position: relative;
  width: 100%;
  background-color: #02020E;
  border-radius: calc(var(--border-radius) * 2);
  overflow: clip;
  .code-editor-header {
    position: relative;
    width: 100%;
    background-color: #0d0d20;
    border-block-end: 1px solid #1c1c30;
    padding: 0.75rem;
    @media (width < 768px) {
      --scrollbar-width: 0;
      padding-inline: var(--mobile-aside-gutter);
      overflow-x: scroll;
      &::-webkit-scrollbar-track {
        margin-inline: var(--mobile-aside-gutter);
      }
    }
    
    .tabs {
      --tab-height: 50px;
      position: relative;
      display: flex;
      list-style: none;
      isolation: isolate;
      @media (width < 768px) {
        padding-inline-end: var(--mobile-aside-gutter);
      }
      .tab-item {
        position: relative;
        height: var(--tab-height);
        padding-inline: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: var(--border-radius);
        cursor: pointer;
        white-space: nowrap;
        &:is(.active) {
          color: #0d0d20;
          font-weight: 700;
        }
      }
      .active-strip {
        width: var(--strip-width);
        height: var(--tab-height);
        inset-inline-start: var(--strip-inset-x);
        background-color: var(--product-block-color);
        position: absolute;
        z-index: -1;
        border-radius: var(--border-radius);
        transition: var(--transition);
      }
    }
  }
}

.achievement-section {
  position: relative;
  padding-inline: 2vw;
  padding-block-start: calc(2rem + 2vw);
  padding-block-end: calc(2rem + 2vw);
  .achievement-wrapper {
    width: 100%;
    position: relative;
    margin-inline: auto;
    max-width: var(--wrapper-width);
    .cards-container {
      --card-gaps: calc(1rem + 1vw);
      position: relative;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: calc(1rem + 1vw);
      .achievement-card {
        position: relative;
        width: 100%;
        text-align: center;
        .icon {
          position: relative;
          width: 110px;
          aspect-ratio: 1;
          padding: 0.25rem;
          isolation: isolate;
          margin-inline: auto;
          margin-block-end: calc(1rem + 1vw);
        
          img {
            position: relative !important;
            object-fit: contain;
          }
      
          &::before {
            content: '';
            position: absolute;
            inset: 0;
            scale: 0.75;
            background-color: var(--primary);
            border-radius: 50%;
            filter: blur(10px);
            z-index: -1;
            animation: glow 5s infinite;
          }
        }
        .content {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          text-wrap: balance;
          small {
            opacity: 0.8;
          }
        }
      }
      @media (width < 738px) {
        overflow-x: scroll;
        padding-inline: var(--mobile-aside-gutter);
        padding-block-end: calc(var(--mobile-aside-gutter) / 2);
        &::-webkit-scrollbar-track {
          margin-inline: var(--mobile-aside-gutter);
        }
        
        .achievement-card {
          background-color: hsla(var(--light-hsl), 0.1);
          padding: var(--mobile-aside-gutter);
          width: 60vw;
          border-radius: var(--border-radius);
          box-shadow: inset 0 0 0 1px hsla(var(--light-hsl), 0.15);
          &:not(:last-child)::after {
            content: '';
            position: absolute;
            width: var(--card-gaps);
            height: 2px;
            background-color: var(--accent);
            inset-block-start: 50%;
            inset-inline-start: 100%;
          }
        }
      }
    }
  }
  @media (width < 738px) {
    padding-inline: 0;
  }
}

.product-features-section {
  position: relative;
  padding-inline: 2vw;
  padding-block: calc(3rem + 5vw);
  isolation: isolate;
  margin-block-end: 5rem;
  z-index: 1;
  .pattern {
    height: 100%;
  }
  
  @media (width < 768px) {
    padding-inline: var(--mobile-aside-gutter);
    padding-block-start: calc(5.5rem + 5vw);
    padding-block-end: calc(1.5rem + 5vw);
    margin-bottom: 0;
  }
  
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    background: linear-gradient(0deg, hsla(var(--body-bg-hsl), 1) 0%, hsla(var(--body-bg-hsl), 0.6) 25%, hsla(var(--body-bg-hsl), 0) 50%, hsla(var(--body-bg-hsl), 0.6) 75%, hsla(var(--body-bg-hsl), 1) 100%);
  }

  .product-features-wrapper {
    --avatar-width: 400px;
    --direction-arrow: 100px;
    position: relative;
    margin-inline: auto;
    max-width: calc(var(--wrapper-width) - 10rem);
    @media (width < 768px) {
      --avatar-width: calc(300px + 5vw);
      --direction-arrow: 60px;
    }

    .highlighted-strip {
      position: relative;
      .executive-avatar {
        position: absolute;
        z-index: 1;
        width: calc(var(--avatar-width) - 50px);
        height: calc(var(--avatar-width) - 50px);
        margin-block-start: -50px;
        img {
          position: relative !important;
          object-fit: contain;
        }
        @media (width < 768px) {
          margin-block-start: -90px;
          margin-inline-start: calc(50% - calc(var(--avatar-width) / 2.3));
        }
      }
      .direction-arrow {
        position: absolute;
        width: var(--direction-arrow);
        z-index: 1;
        inset-inline-end: 5%;
        inset-block-start: calc(100% - calc(var(--direction-arrow) / 2));
        img {
          position: relative !important;
          object-fit: contain;
        }
        @media (width < 768px) {}
      }
      .heading {
        position: relative;
        padding: calc(1rem + 0.5vw);
        padding-inline-start: var(--avatar-width);
        border-radius: calc(var(--border-radius) * 1.5);
        text-transform: uppercase;
        background-image: linear-gradient(35deg, #DC8D5E, #8282FF);
        color: var(--body-bg);
        @media (width < 768px) {
          padding: var(--mobile-aside-gutter);
          padding-block-start: calc(var(--avatar-width) / 1.6);
        }
      }
      .content {
        padding: calc(1rem + 0.5vw);
        padding-inline-start: var(--avatar-width);
        .text {
          display: block;
          max-width: calc(600px + 5vw);
        }
        .sub-heading {
          text-transform: uppercase;
          margin-block-end: 1rem;
          text-wrap: balance;
        }
        @media (width < 768px) {
          padding: var(--mobile-aside-gutter);
        }
      }
    }

    .features-lists-wrapper {
      position: relative;
      margin-block-start: calc(3rem + 4vw);
      margin-inline: auto;
      max-width: calc(var(--wrapper-width) - 12rem);
      @media (width > 767px) { 
        &:before, &::after {
          content: '';
          position: absolute;
          z-index: 1;
          inset-inline-start: 20%;
        }
        &:before {
          inset-block-end: calc(100% + 1rem);
          content: url('/images/line-1.svg');
        }
        &::after {
          inset-block-start: calc(100% + 3rem);
          content: url('/images/line-2.svg');
        }
      }

      .features-lists {
        --card-bg: #2F2E70;
        --card-color: var(--light);
        --card-padding: calc(1rem + 0.5vw);
        --hand-shape-width: 70px;
        --hand-shape-height: 180px;
        --card-width: 260px;
        position: relative;
        display: flex;
        @media (width < 768px) {
          --hand-shape-width: 50px;
          --hand-shape-height: 100px;
          width: max-content;
          gap: 0.35vw;
        }

        &::after {
          content: '';
          position: absolute;
          inset-block-start: calc(100% + var(--hand-shape-height) - 26px);
          width: 100%;
          height: 1px;
          opacity: 0.5;
          background-image: linear-gradient(90deg, hsla(var(--light-hsl), 0) 0%, hsla(var(--light-hsl), 1) 50%, hsla(var(--light-hsl), 0) 100%);
        }

        .features-list {
          position: relative;
          background-color: var(--card-bg);
          color: var(--card-color);
          border-radius: calc(var(--border-radius) * 2);
          padding: var(--card-padding);
          text-wrap: balance;
          aspect-ratio: 2 / 1.75;
          max-width: var(--card-width);
          width: 100%;
          isolation: isolate;
          @media (width < 768px) {
            aspect-ratio: 16 / 9;
            width: 55vw;
            height: auto;
            &:first-child {
              margin-inline-end: calc(1rem + 10vw);
            }
          }

          .shapes {
            --svg-width: 55px;
            position: absolute;
            inset: 0;
            z-index: -1;
            color: var(--card-bg);
            svg {
              width: var(--svg-width);
              height: auto;
            }

            .shape-top {
              position: absolute;
              inset-block-end: calc(100% - 5px);
              inset-inline-start: calc(50% - calc(var(--svg-width) / 2));
            }
            .shape-left {
              position: absolute;
              inset-inline-end: calc(100% - 1px);
              inset-block-end: calc(50% - calc(var(--svg-width) / 2));
            }
          }

          .hand-shape {
            position: absolute;
            width: var(--hand-shape-width);
            height: var(--hand-shape-height);
            inset-block-start: calc(100% - 25px);
            inset-inline-end: 25px;
            img {
              position: relative !important;
              object-fit: contain;
            }
          }

          .icon {
            position: relative;
            width: 60px;
            aspect-ratio: 1;
            isolation: isolate;
            margin-block-end: 0.75rem;
        
            img {
              position: relative !important;
              object-fit: contain;
            }
        
            &::before {
              content: '';
              position: absolute;
              inset: 0;
              scale: 0.75;
              background-color: var(--primary);
              border-radius: 50%;
              filter: blur(10px);
              z-index: -1;
              animation: glow 5s infinite;
            }
          }
          h6 {
            max-width: min-content;
            line-height: 1.35;
            font-weight: 600;
          }
          &:first-child {
            margin-inline-end: auto;
            --hand-shape-width: 120px;
            .shapes .shape-left {
              inset-inline-end: initial;
              inset-inline-start: calc(100% - var(--svg-width) + 2px);
              color: var(--body-bg);
            }
          }
          &:nth-child(2) { --card-bg: #40356A; }
          &:nth-child(3) { --card-bg: #C18A8E; --card-color: var(--body-bg); }
          &:nth-child(4) { --card-bg: #845137; }
        }
      }
      @media (width < 768px) {
        margin-block-start: var(--mobile-aside-gutter);
        width: 100vw;
        overflow-x: scroll;
        margin-inline-start: calc(0px - var(--mobile-aside-gutter));
        padding-inline: var(--mobile-aside-gutter);
        padding-block-start: calc(var(--mobile-aside-gutter) * 3.25);
        padding-block-end: calc(var(--mobile-aside-gutter) * 3.8);
      
        &::-webkit-scrollbar-track {
          margin-inline: var(--mobile-aside-gutter);
        }
      }
    }
  }

  .much-more {
    position: relative;
    display: flex;
    justify-content: center;
    position: absolute;
    inset-block-start: calc(100% + 3rem);
    text-align: center;
    width: 100%;
    opacity: 0.75;
    @media (width < 768px) {
      inset-block-start: calc(100% - 1rem);
    }
  }
}


@keyframes AutoRun {
  100% {
    inset-inline-start: calc(0px - var(--item-size));
  }
}
@keyframes AutoRunReversed {
  100% {
    inset-inline-end: calc(0px - var(--item-size));
  }
}

@keyframes jump {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
}
@keyframes glow {
  0%,
  100% {
    scale: 0.25;
    filter: blur(10px);
  }
  
  50% {
    scale: 0.75;
    filter: blur(70px);
  }
}
@keyframes rotate {
  100% {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}