:root {
  --square-pattern-height: 100%;
  --square-pattern-opacity: 0.1;
  --square-gradient-bg: linear-gradient(to top, hsla(var(--body-bg-hsl), 1) 0%, hsla(var(--body-bg-hsl), 0) 100%);
  --block-padding-block-start: calc(1.5rem + 1.5vw);
  --wrapper-padding-x: calc(1.5rem + 1vw);
  --page-padding-x: calc(1rem + 2vw);
  --back-button-size: 75px;
  --list-width: calc(180px + 1vw);
  --page-content-block-padding-y: calc(1rem + 1vw);
  @media (width < 1024px) {
    --page-padding-x: calc(1rem + 0px);
  }
  @media (width < 768px) {
    --back-button-size: 50px;
  }
}
.register-page {
  position: relative;
  margin-block-start: calc(0px - var(--body-top-padding));
  min-height: 100vh;
  min-height: 100lvh;
  isolation: isolate;
  padding-inline: var(--page-padding-x);

  @media (width < 1024px) {
    padding-block-end: var(--page-padding-x);
  }
  @media (width < 768px) {
    padding-block-end: 0;
  }

  &::before {
    content: '';
    position: absolute;
    inset-inline-end: 0;
    inset-block-start: 0;
    height: 100%;
    width: 50%;
    z-index: 0;
    background-image: linear-gradient(to bottom, #F6CDAF, #DADAFF);
    @media (width < 1200px) {
      display: none;
    }
  }
  .register-page-wrapper {
    position: relative;
    margin-inline: auto;
    max-width: var(--wrapper-width);
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media (width > 1200px) {
      padding-block: var(--block-padding-block-start);
    }
    .start-block {
      position: relative;
      @media (width > 1200px) {
        padding-inline-end: var(--wrapper-padding-x);
      }
    }
    .end-block {
      position: relative;
      color: var(--dark);
      @media (width > 1200px) {
        padding-inline-start: var(--wrapper-padding-x);
      }
      @media (width < 768px) {
        margin-inline-start: calc(0px - var(--page-padding-x));
      }

      .heading {
        margin-block-end: 0.5rem;
        text-wrap: balance;
      }
      @media (width < 1200px) {
        isolation: isolate;
        padding: calc(1rem + 2vw);
        margin-block-start: 1rem;
        &::before {
          content: '';
          position: absolute;
          inset-inline-end: 0;
          inset-block-start: 0;
          height: 100%;
          width: 100%;
          z-index: -1;
          background-image: linear-gradient(to bottom, #F6CDAF, #DADAFF);
          border-radius: calc(var(--border-radius) * 1.5);
        }
      }
      @media (width < 768px) {
        &::before {
          border-radius: calc(var(--border-radius) * 2.5);
          border-end-start-radius: 0;
          border-end-end-radius: 0;
        }
      }
    }
    @media (width < 1200px) {
      --wrapper-width: 850px;
      grid-template-columns: 1fr;
    }
  }

  .back-button {
    --outline-color: var(--accent);
    position: absolute;
    inset-inline-start: 0;
    inset-block-start: 0;
    padding-inline-start: 1.35rem;
    padding-block-start: 1.35rem;
    width:  var(--back-button-size);
    height:  var(--back-button-size);
    background-color: var(--header-bg);
    display: grid;
    font-size: 1.35rem;
    border-inline-end: 1px solid var(--header-bg);
    border-block-end: 1px solid var(--header-bg);
    border-end-end-radius:  var(--back-button-size);
    transition: var(--transition);
    z-index: 1;
    &:focus-visible {
      border-radius: 0;
      border-end-end-radius:  var(--back-button-size);
    }
    &:hover {
      background-color: var(--accent);
      color: var(--light);
    }
    @media (width < 1024px) {
      inset-inline-start: var(--page-padding-x);
      inset-block-start: var(--page-content-block-padding-y);
      border-radius: var(--back-button-size);
      padding: 0;
      display: grid;
      place-items: center;
    }
  }
}

.page-content  {
  
  position: relative;
  padding-block: var(--page-content-block-padding-y);
  .main-logo {
    width: calc(150px + 7.5vw);
    margin-block-end: 1.5rem;
    a {
      display: block;
    }
    @media (width < 1024px) {
      margin-inline-start: calc(var(--page-padding-x) + var(--back-button-size));
    }
  }

  .title {
    text-wrap: balance;
  }

  .points {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--list-width), 1fr));
    gap: 1rem;
    padding-block-start: calc(2rem + 1vw);
    

    
    @media (width < 768px) {
      padding-inline: var(--page-padding-x);
      padding-block-end: var(--page-padding-x);
      margin-inline-start: calc(0px - var(--page-padding-x));
      width: 100vw;
      overflow-x: scroll;
      display: flex;
    }
    
    
    .point-list {
      position: relative;
      border-radius: var(--border-radius);
      background-image: linear-gradient(to bottom, hsla(var(--header-bg-hsl), 0.5) 0%, hsla(var(--header-bg-hsl), 1) 100%);
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      
      @media (width < 768px) {
        min-width: 300px;
      }
      .icon {
        position: relative;
        width: 70px;
        aspect-ratio: 1/1;
        img {
          position: relative !important;
          object-fit: contain;
        }
      }
      .content {
        * {
          line-height: normal;
        }
        p {  margin-block-end: 0.6rem; }
        text-wrap: balance;
      }
      @media (width > 1200px) and (width < 1400px) {
        padding: calc(1rem + 0.35vw);
        &:last-child {
          grid-column: 2 span;
          flex-direction: row;
          gap: 1.5rem;
        }
      }
    }
  }
}

